@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme('colors.paper');
  color: theme('colors.primary');
  font-family: 'Source Sans 3', sans-serif;
}

::selection {
  color: white;
  background: theme('colors.primary');
}

a {
  color: theme('colors.primary');
  text-decoration: underline;
}

.full-container {
  min-height: 100vh;
}


